body {
    color: white;
    background-color: rgb(16, 16, 16);
    max-width: 1500px;
    margin: auto;
}
.titulo-seccion{
    position: relative;
}
.titulo-seccion::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 20%;
    height: 15px;
    bottom: -15px;
    background-color: rgb(209, 23, 16);
    border-radius: 2px;
    clip-path: polygon(5% 0px, 100% 0%, 95% 100%, 0% 100%);
    z-index: 1;
}
.titulo-seccion::after{
    content: "";
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 80%;
    height: 3px;
    bottom: -15px;
    border-radius: 2px;
    background-color: rgba(16, 203, 209, 0.3);
    z-index: 0;
}
/* NAVBAR */
.nav-links li a{
    color: white;
    font-size: 1.3rem;
}

.nav-flex-container{
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

#boton-menu{
    background-color: transparent;
    border: none;
    filter: invert();
}

/* PRESENTACION */
.presentacion{
    background-image: url(../../assets/img/banner.jpg);
    background-position: center
}
.presentacion h1{
    font-size: 8rem;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
.presentacion h3{
    font-size: 3rem;
}

/* SOBREMI */
#sobremi .subtitle h3{
    color:rgb(16, 202, 209)
}
#sobremi .subtitle .content-text{
    color:rgb(167,167,167)
}
#sobremi h2{
    font-size: 5rem;
}
#sobremi .content-type1 h2{
    font-size: 3rem;
}
#sobremi .content-type1 h3{
    font-size: 1.5rem;
}
#sobremi .content-type1 p{
    font-size: 1.3rem;
}
#sobremi #boton-cv{
    font-size: 1rem;
}
#boton-cv{
    background-color: transparent;
    text-decoration: none;
    font-family: Poppins;
    font-size: 1.3rem;
    color: rgb(251, 251, 251);
    transition: background-color 0.3s ease;
}

#boton-cv:hover{
    background-color: rgba(150, 0, 0, 0.5);
    border-color: rgba(223, 10, 3, 0.877);
}

/* HABILIDADES */
.small-navbar button {
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #fff;
    font-size: 18px;
    outline: none;
    cursor: pointer;

    /* We need this to position
        span inside button */
    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px
            rgba(0, 0, 0, 0.2);
  }
.small-navbar button span {
    position: absolute;
    border-radius: 50%;
    /* To make it round */
    background-color: rgb(255, 0, 0);
  
    width: 100px;
    height: 100px;
    margin-top: -50px;
    /* for positioning */
    margin-left: -50px;
  
    animation: ripple 1s;
    opacity: 0;
}
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }
  
    to {
        opacity: 0;
        transform: scale(10);
    }
  }
#habilidades{
    background-color: rgb(25,25,25);
}
#habilidades h2{
    font-size: 5rem;
}
#habilidades .logo-list {
    background-color: rgb(34,34,34);
}
#habilidades .slot {
    background-color: rgb(34, 34, 34);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px
}
/* PROYECTOS */
#proyectos h2{
    font-size: 5rem;
}
.project {
    background-color: rgb(25,25,25);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px
}

.project .title h3{
    color:rgb(16, 202, 209);
    font-size: 3rem;
}
.project .content-text{
    color:rgb(167,167,167);
    font-size: 1rem;
}
.project-footer{
    color:rgb(209, 23, 16);
    font-size: 1rem;
}
/* FORMULARIO */
#contacto h2{
    font-size: 5rem;
}
.contacto-formulario{
    background-color: rgb(34,34,34);
}

.contacto-formulario #mensaje,#asunto,#email{
    background-color: rgba(0, 0, 0, 0.06)
}
/* FOOTER */