.body {
    color: white;
    background-color: rgb(16, 16, 16);
}
/* NAVBAR */
.nav-links li a{
    color: white;
}
/* PRESENTACION */
.presentacion{
    background-image: url(../../assets/img/banner.jpg);
    background-position: center
}
.presentacion h1{
    font-size: 8rem;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
.presentacion h3{
    font-size: 3rem;
}
/* SOBREMI */
#sobremi .subtitle h3{
    color:rgb(16, 202, 209)
}
#sobremi .subtitle .content-text{
    color:rgb(167,167,167)
}
#sobremi h2{
    font-size: 5rem;
}
#sobremi .content-type1 h2{
    font-size: 3rem;
}
#sobremi .content-type1 h3{
    font-size: 1.5rem;
}
#sobremi .content-type1 p{
    font-size: 1.3rem;
}
/* HABILIDADES */
.small-navbar a{
    text-decoration: none;
    color: rgb(167, 167, 167);
}
#habilidades{
    background-color: rgb(25,25,25);
}
#habilidades h2{
    font-size: 5rem;
}
#habilidades .logo-list {
    background-color: rgb(34,34,34);
}
#habilidades .slot {
    background-color: rgb(25,25,25);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px
}
/* PROYECTOS */
.project {
    background-color: rgb(25,25,25);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px
}

.project .title{
    color:rgb(16, 202, 209)
}
.project .content-text{
    color:rgb(167,167,167)
}
/* FORMULARIO */
.contacto-formulario{
    background-color: rgb(34,34,34);
}

.contacto-formulario #mensaje,#asunto,#email{
    background-color: rgba(0, 0, 0, 0.06)
}
/* FOOTER */